p { font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    font-style: italic;
    text-align: center; 
    text-decoration: underline;
    color: #2507b0; 
    background-color:powderblue;
  }

h1{
background-color: rgb(242, 0, 21)
}

h2{
background-color: rgba(0, 110, 219, 0.5019607843137255)
}
 
